<div class="card project">
    @if (project().picture) {
        <img [src]="project().picture" [alt]="project().name || 'Project picture'">
    }
    <div class="content">
        @if (project().name){
            <h4>{{ project().name }}</h4>
        }

        @if (project().description) {
            <p class="project-card__description" [innerHTML]="project().description"></p>
        }

        @if (project().url) {
            <a class="project-card__link" [href]="project().url" target="_blank" rel="noreferrer">
                {{ project().url }}
            </a>
        }
    </div>
</div>
