#container{
    height: fit-content;
    transform: rotate(-30deg) scale(1.25) translateX(5%) translateY(25%);
}

.scrolldiv{
    display: flex;
    flex-direction: row;
    position: relative;
    padding: 1vh 0;
    gap: 5%;
    left: -0%;
    animation: loop 10s linear infinite;
}

.scroll-element{
    display: flex;
    justify-content: space-around;
    min-width: calc(110% + 2.5vw);
    width: fit-content;
    gap: 5%;
    flex-direction: row;
    flex-wrap: nowrap;
}

.item {
    padding: 6px 14px;
    text-wrap: nowrap;
    border: 1px solid var(--af-filet);
    border-radius: 0;
    background-color: var(--af-planche);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.item img{
    height: 1rem;
    aspect-ratio: 1;
    object-fit: contain;
}

.item p{
    margin: 0;
    font-size: clamp(.8rem, 2.5vw, 1.3rem);
    font-family: var(--af-corps);
    color: var(--af-mine);
}

.tile-scroll{
    height: 50%;
    width: 100%;
}

.fade {
    --col: var(--af-planche);
    width: 200%;
    height: 110%;
    position: relative;
    top: -110% !important;
    left: -50% !important;
    background: linear-gradient(
        90deg,
        var(--col),
        var(--col) 25%,
        transparent 50%,
        var(--col) 75%,
        var(--col)
    );

    inset: 0;
    pointer-events: none;
}

@keyframes loop {
    0% {
        left: -0%;
    }
    100% {
        left: calc(-115% - 2.5vw);
    }
}

.scrolldiv:nth-child(2){
    transform:translateX(-20%);
}

@media screen and (min-width: 1200px) {
    .scroll-element{
        min-width: calc(130% + 2.5vw);
    }
    .scrolldiv{
        animation: loop2 10s linear infinite;
    }
    @keyframes loop2 {
        0% {
            left: -0%;
        }
        100% {
            left: calc(-135% - 2.5vw);
        }
    }
}

@media (prefers-reduced-motion: reduce) {
    .scrolldiv {
        animation: none;
    }
}
